DISCORD_TOKEN=
DISCORD_GUILD_ID=
TTS_PROVIDER=say
TTS_VOICE=Flo
TTS_RATE=220
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
ELEVENLABS_OUTPUT_FORMAT=mp3_44100_128
